.cards {
    width: 100%;

    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @media (max-width: 992px) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        border-radius: 36px;
        border: 1px solid #000;
        padding: 65px;

        @media (max-width: 1200px) {
            padding: 45px;
        }

        @media (max-width: 576px) {
            padding: 25px;
        }
    }

    h2 {
        font-size: clamp(26px, 5vw, 57px);
        margin: 0 0 12px 0;

        @media (max-width: 992px) {
            br {
                display: none;
            }
        }
    }

    h3 {
        margin: 0 0 12px 0;
    }

    p {
        display: block;
        margin: 0 0 30px 0;
    }
}