.content {
    width: 100%;
    display: flex;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 40px;
        }
    }

    .content__container {
        padding: 0 15px 60px 15px;
    }

    &--companies {
        .content__container {
            padding: 60px 15px;
        }
    }

    &--team {
        .content__container {
            padding: 60px 15px;
            gap: 30px;
        }
    }

    &__image {
        max-width: 680px;
        aspect-ratio: 849 / 688;
        width: 100%;

        @media (max-width: 1200px) {
            max-width: 480px;
        }

        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    &__text {
        max-width: 510px;
        display: flex;
        flex-direction: column;

        @media (max-width: 992px) {
            max-width: 100%;
        }

        h3 {
            padding: 13px 0 0 0;
        }

        p {
            padding: 16px 0 50px 0;
        }
    }

    &__buttons {
        display: flex;
        gap: 16px;
        align-items: center;

        @media (max-width: 450px) {
            flex-direction: column;

            .button {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}