.cta {
    margin: 60px 0;

    &__container {
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 100px;

        @media (max-width: 1200px) {
            gap: 30px;
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    .cta__container {
        padding: 65px 15px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 40px 0 0 0;
    }

    &__item {
        display: flex;
        gap: 22px;
        align-items: center;
        border: 2px solid #000;
        border-radius: 36px;
        padding: 17px;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        &-text {
            color: #000;
            font-size: 16px;

            @media (max-width: 500px) {
                text-align: center;
            }

            p {
                display: block;
                color: #000;
                font-size: clamp(18px, 2vw, 21px);
                font-weight: 700;
                margin: 0 0 14px 0;
                text-transform: uppercase;
            }
        }
    }

    &__subtitle {
        max-width: 540px;
    }

    .form {
        position: sticky;
        width: 100%;
        max-width: 668px;
        top: 90px;
        background: linear-gradient(180deg, #a8f382 0%, #54d3f8 100%);
        padding: 48px;
        border-radius: 36px;
        border: 2px solid #333;
        box-sizing: border-box;
        color: #000;

        @media (max-width: 992px) {
            max-width: 100%;
        }

        @media (max-width: 500px) {
            padding: 40px 30px;
        }

        &__title {
            font-size: clamp(28px, 4vw, 48px);
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media (max-width: 500px) {
                text-align: center;
            }
        }

        &__description {
            font-size: clamp(18px, 2vw, 20px);
            color: #000;
            padding: 0 0 50px 0;
            line-height: 1.4;

            @media (max-width: 500px) {
                text-align: center;
            }
        }

        &__field {
            position: relative;
            margin-bottom: 36px;
        }

        &__label {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        &__input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #000;
            background-color: transparent;
            font-size: 18px;
            padding: 8px 0;
            color: #000;
            outline: none;
            transition: border-color 0.3s ease;

            &::placeholder {
                color: transparent;
            }

            &:focus {
                border-bottom: 2px solid #000;
                background-color: transparent;
            }
        }

        &__button {
            display: block;
            width: 100%;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            padding: 40px 0;
            cursor: pointer;
            transition-duration: .5s;

            @media (max-width: 500px) {
                padding: 20px 0;
            }

            &:hover {
                transform: scale(0.95);
                opacity: .5;
            }
        }
    }

}