<div class="cards">
    <div class="cards__container">
        <div class="cards__item">
            <h2>serviciile<br> noastre.</h2>
            <h3>Atât pentru angajatori, cât și pentru recruiteri.</h3>
            <p>Pentru ca incercam sa ne pozitionam intre candindati si angajatori sau recruiteri, avem o paleta larga de servicii care vine in intampinarea ambelor tabere. Uite cateva din serviciile noastre: calibrare profil, candidati activi, interviu online, campanii de marketing, employer branding.</p>
            <button class="button button__white">mai mult</button>
        </div>
        <div class="cards__item">
            <h2>employer<br> branding.<br> done right.</h2>
            <h3>Toata lumea face employer branding. Însă puțini fac asta corect și eficient.</h3>
            <p>Cu o echipă mixtă de marketeri, recruiteri, designeri și developeri, fiecare cu experiență extensivă în domeniul de activitate, și cu zeci de campanii de employer branding facute împreună, credem că putem face o diferență semnificativă în astfel de campanii. Mai multe detalii în curând.</p>
            <button class="button button__white">Contactează-ne</button>
        </div>
    </div>
</div>