<div class="content content--companies" id="companies">
    <div class="content__container">
        <div class="content__text">
            <span class="label">Pentru companii?</span>
            <h2>Ține costurile sub control</h2>
            <h3>Dacă ești angajator sau recruiter și cauți oameni, ai venit unde trebuie.</h3>
            <p>Evident, resursa financiară este cel mai mare cost în căutarea de candidați, iar pentru noi, optimizarea
                acestui cost este prioritatea principală. Pe lângă costul scăzut la “achiziția” de candidați, serviciul
                nostru mai eficientizează două costuri: resursa umană, nefiind nevoie să mai implici oameni în procesul
                de recrutare. Și timpul, deoarece avem un algoritm magic în spate prin care furnizam în timp real
                informații despre candidați pe profilurile căutate.</p>
            <div class="content__buttons">
                <button class="button button__yellow">Contactează-ne</button>
                <button class="button button__white">mai mult</button>
            </div>
        </div>
        <img data-src="@img/content/image-1.png" alt="Content image" class="content__image lazy" draggable="false">
    </div>
</div>