<div class="cta" id="start">
    <div class="cta__container">
        <div class="cta__text">
            <span class="label">Uite ce trebuie să faci</span>
            <h2 class="cta__title">Ca să îți găsim de lucru</h2>
            <p class="cta__subtitle">Urmează acești 3 pași simpli – iar după ce te înscrii, ne ocupăm noi de tot.</p>
            <div class="cta__items">
                <div class="cta__item">
                    <img data-src="@img/cta/1.svg" alt="1 step" class="lazy">
                    <div class="cta__item-text">
                        <p>Te înscrii, foarte simplu, în ­baza de date.</p>
                        Este singurul lucru pe care trebuie să îl faci, să te înscrii aici pe site, și de aici tu doar aștepți, iar noi ne ocupăm de tot.
                    </div>
                </div>
                 <div class="cta__item">
                    <img data-src="@img/cta/2.svg" alt="2 step" class="lazy">
                    <div class="cta__item-text">
                        <p>Te înscrii, foarte simplu, în ­baza de date.</p>
                        Este singurul lucru pe care trebuie să îl faci, să te înscrii aici pe site, și de aici tu doar aștepți, iar noi ne ocupăm de tot.
                    </div>
                </div>
                 <div class="cta__item">
                    <img data-src="@img/cta/3.svg" alt="3 step" class="lazy">
                    <div class="cta__item-text">
                        <p>Te înscrii, foarte simplu, în ­baza de date.</p>
                        Este singurul lucru pe care trebuie să îl faci, să te înscrii aici pe site, și de aici tu doar aștepți, iar noi ne ocupăm de tot.
                    </div>
                </div>
            </div>
        </div>
        @@include('components/form.html')
    </div>
</div>