<div class="content content--team" id="team">
    <div class="content__container">
                <img data-src="@img/content/image-2.png" alt="Content image" class="content__image lazy" draggable="false">
        <div class="content__text">
            <span class="label">Despre noi. Pe scurt.</span>
            <h2>Ține costurile sub control</h2>
            <h3>MUNCIM.RO a fost construit pornind de la ideea că piața muncii are nevoie de o schimbare.</h3>
            <p>Cu toții resimțim o problemă în zona de resurse umane, mai ales când vine vorba despre atragerea de candidați competenți și realmente interesați de o schimbare profesională, dar și de cealaltă parte, atunci când acești candidați caută un angajator responsabil, care să le ofere beneficii pe măsura calificării.<br><br>
            Așa că am deschis șantierul și ne-am apucat de treabă cu o echipă mixtă, formată din specialiști în marketing, recrutare și design.<br><br>
            După nenumărate studii și schițe – pentru a ajunge la cea mai bună soluție, am pus cărămidă cu cărămidă și am creat acest proiect menit să umple un gol apărut între candidați și angajatori sau firmele de recrutare.</p>
            <div class="content__buttons">
                <button class="button button__blue">Contactează-ne</button>
                <button class="button button__white">mai mult</button>
            </div>
        </div>

    </div>
</div>