<div class="content" id="why">
    <div class="content__container">
        <img data-src="@img/content/image.png" alt="Content image" class="content__image lazy" draggable="false">
        <div class="content__text">
            <span class="label">de ce muncim.ro?</span>
            <h2>Îți căutăm cel mai tare job</h2>
            <h3>Daca îți cauți de muncă sau vrei să fii la curent cu cele mai noi oferte de lucru, citește mai departe.</h3>
            <p>Nu te-ai săturat de platformele care te pun să cauți printr-un hățiș de anunțuri, să completezi formulare peste formulare și să trimiți mail-uri la care nu primești răspuns? Și asta pentru un simplu loc de muncă – aceste platforme fac totul să pară foarte complicat pentru tine. Lasă-ne să facem noi tot procesul ăsta în locul tău.</p>
            <div class="content__buttons">
                <button class="button button__green">înscrie-te</button>
                <button class="button button__white">înscrie-te</button>
            </div>
        </div>
    </div>
</div>