@use 'variables' as *;
@use 'mixins' as *;
@use 'partials/header';
@use 'partials/footer';
@use 'partials/buttons';
@use 'components/hero';
@use 'components/cta';
@use 'components/content';
@use 'components/cards';


// ==============================================================================================
// **Стилізація форми**
// Цей модуль відповідає за стилі всіх форм, включаючи поля введення, кнопки та валідацію.
// Підключення:
// @use 'partials/form';
// ==============================================================================================

// ==============================================================================================
// **Стилі аккордіону**
// Відповідає за вигляд і анімацію елементів аккордіону, включаючи заголовки та контент.
// Підключення:
// @use 'components/accordion';
// ==============================================================================================

// ==============================================================================================
// **Стилі табів**
// Додає стилізацію для вкладок (tabs), включаючи активний стан і контент.
// Підключення:
// @use 'components/tabs';
// ==============================================================================================

// ==============================================================================================
// **Модальні вікна та поп-апи**
// Налаштування стилів для модальних вікон, поп-апів і тригерів для їх відкриття/закриття.
// Підключення:
// @use 'partials/modal';
// ==============================================================================================

// ==============================================================================================
// **Кастомний селект**
// Базова стилізація кастомного селекту, включаючи розмір, кольори та поведінку.
// Підключення:
// @use 'components/customSelect';
// ==============================================================================================

// ==============================================================================================
// **Анімації**
// Модуль для додавання анімацій за класами, які можуть бути використані для будь-якого елемента.
// Підключення:
// @use 'partials/animation';
// ==============================================================================================

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Загальні стилі для списків
ol,
ul {
    padding-left: 20px;

    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

h1 {
    font-size: clamp(36px, 5vw, 98px);
    color: #000;
    text-transform: uppercase;
    line-height: 110%;
}

h2 {
    font-size: clamp(33px, 5vw, 72px);
    color: #000;
    text-transform: uppercase;

    @media (max-width: 992px) {
        br {
            display: none;
        }
    }
}

h3 {
    color: #000;
    font-size: clamp(18px, 2.5vw, 26px);
    font-weight: 400;
}

.label {
    color: #000;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    display: block;
}

.border-bottom {
    border-bottom: 2px solid #000;
}